footer {
	background-image: url(../../images/footer_bg.jpg);
	background-size: cover;
	background-position: center center;
	margin-top: -2rem;
	padding: var(--pad-tb-6);
	padding-bottom: 2rem;

	.section_title {
		margin-bottom: 1rem;
	}

	.footer_content {
		display: flex;
		flex-direction: column;
		align-items: center;

		.store_btn_wrap {
			display: flex;
			gap: 4rem;
			margin-top: 2rem;
			margin-bottom: 4rem;
		}

		.social_link_container {
			margin-top: 2rem;
			display: flex;
			font-size: 4rem;
			gap: 3rem;
		}
	}
}
