.container {
	width: 100%;
	max-width: 160rem;
	margin: 0 auto;

	@media (max-width: 1600px) {
		padding: 4rem 2rem;
	}
	@media (max-width: 568px) {
		padding: 2rem 1rem;
	}
	overflow: hidden;
}

.btn {
	width: 100%;
	max-width: 15rem;
	padding: 1rem 2rem;
	border: 1px solid var(--white);
	background: transparent;
	color: var(--white);
	text-align: center;
}

img {
	width: 100%;
}

.section_title {
	text-align: center;
	text-transform: uppercase;
}
