:root {
	--light-purple: hsl(240, 30%, 16%);
	--dark-purple: hsl(237, 29%, 13%);
	--al-teal: hsl(180, 65%, 56%);
	--light-grey: hsl(0, 0%, 60%);
	--white: #fff;
	--fw-700: 700;
	--fw-400: 400;
	--fw-300: 300;
	--ls-8: 0.8rem;
	--pad-tb-6: 6rem 0;
}
